/* Legacy styles removed */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles start */

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 5px;
    border: none;
    background-color: #341C75;
    color: white;
    padding: 25px;
    font-size: 2vw;
    border-radius: 30px;   
}

button:hover {
    background-color: #BD60E7;
}

main {
    margin: 2vw;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

main p {
    margin-top: 10px;
    font-size: 1.5vw;
}

main h2 {
    font-weight: bold;
    font-size: 3vw;
    max-width: 1600px;
}

main #start {
    display: flex;
    flex-direction: column;
}

main div {
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
}

/* General styles end */

/* Header styles start */

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5vw;
    margin: 50px;
    font-weight: lighter;
}

.hs {
    font-size: 1.5vw;
    margin: 50px;
    color: #BD60E7;
}

/* Header styles end */

/* Start quiz styles start */

.welcome {
    align-self: center;
}

/* Start quiz styles end */

/* Question styles start */

#container {
    display: flex;
    flex-direction: column;
}

.Wrong {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.Correct {
    color: green;
    font-weight: bold;
    font-style: italic;
}

/* Question styles end */

/* Game Over screen styles start */

form {
    display: inline-flex;
    width: 100%;
}

#endScreen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 700px;
}

#endScreenTitle {
    font-size: 2vw;
    align-self: left;
    margin: 10px;
}

#endScreenSubtitle {
    font-size: 1.5vw;
    font-weight: normal;
    margin: 10px;
}

label {
    font-size: 1.5vw;
    margin: 10px;
}

input {
    margin: 10px;
}

#initials {
    min-width: 40%;
}

#submit {
    margin: 10px;
    border: none;
    background-color: #341C75;
    color: white;
    padding: 10px 20px;
    font-size: 1vw;
    border-radius: 12px; 
}

#submit:hover {
    background-color: #BD60E7; 
}

/* Game over screen styles end */

/* High score screen styles start */

#scoreScreen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40vw;
}

.scores {
    width: 100%;
    padding: 5px;
}

.score {
    padding: 10px;
    text-align: left;
    background-color: #D9D3E9;
    width: 100%;
}

.scoreButton {
    padding: 10px 20px;
    font-size: 1.25vw;
    border-radius: 15px;
}

.buttonWrapper {
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
}

/* High score screen styles end */

/* Media queries for responsive design */

@media screen and (max-width: 768px) {

    button {
        padding: 25px;
        font-size: 3vw;
        border-radius: 30px;   
    }
    
    main p {
        font-size: 2.5vw;
    }
    
    main h2 {
        font-size: 6vw;
    }

    header h1 {
        font-size: 3vw;
    }
    
    .hs {
        font-size: 3vw;
    }

    form {
        width: 100%;
        align-items: center;
    }
    
    #endScreen {
        align-items: center;
        min-width: 50vw;
    }
    
    #endScreenTitle {
        font-size: 7vw;
        align-self: center;
        margin: 10px;
    }
    
    #endScreenSubtitle {
        font-size: 3vw;
        font-weight: normal;
        margin: 20px;
    }
    
    label {
        font-size: 3vw;
        margin: 10px;
    }
    
    input {
        margin: 10px;
        margin-top: 20px;
    }
    
    #initials {
        min-width: 30%;
        min-height: 5vw;
    }
    
    #submit {
        margin: 10px;
        padding: 5px 15px;
        font-size: 3vw;
        border-radius: 10px; 
    }

    .scoreButton {
        padding: 10px 20px;
        font-size: 2.55vw;
        border-radius: 15px;
    }

}

@media screen and (max-width: 575px) {

    button {
        padding: 20px;
        font-size: 4vw;
        border-radius: 20px;   
    }
    
    main p {
        font-size: 2.85vw;
        margin-top: 0px;
    }

    .welcome {
        padding: 10px;
    }
    
    main h2 {
        font-size: 7vw;
    }

    header h1 {
        font-size: 4vw;
    }

    form {
        width: 100%;
        align-items: center;
    }
    
    #endScreen {
        align-items: center;
        min-width: 50vw;
    }
    
    #endScreenTitle {
        font-size: 8vw;
        align-self: center;
        margin: 10px;
    }
    
    #endScreenSubtitle {
        font-size: 4vw;
    }
    
    label {
        font-size: 4vw;
    }
    
    input {
        margin: 10px;
        margin-top: 10px;
    }
    
    #initials {
        min-width: 30%;
        min-height: 6vw;
    }
    
    #submit {
        margin: 5px;
        padding: 5px 15px;
        font-size: 4vw;
    }
    
    .hs {
        font-size: 4vw;
    }

    .score {
        margin: 5px;
        font-size: 4vw;
    }

    .scoreButton {
        font-size: 4vw;
    }

}

@media screen and (max-width:400px) {

    header h1 {
        font-size: 6vw;
        margin: 25px;
    }

    .hs {
        font-size: 6vw;
        margin: 25px;
    }

    main h2 {
        font-size: 12vw;
        margin: 10px;
    }

    main p {
        font-size: 5vw;
        margin-top: 0px;
    }

    #endScreenTitle {
        font-size: 9vw;
        align-self: center;
        margin: 10px;
    }
    
    #endScreenSubtitle {
        font-size: 6vw;
    }
    
    label {
        font-size: 5vw;
        margin: auto;
    }
    
    input {
        margin: 2px;
        margin-top: 2px;
    }
    
    #initials {
        min-width: auto;
        min-height: 10vw;
    }
    
    #submit {
        margin: 5px;
        padding: 5px 15px;
        font-size: 6vw;
    }

    button {
        padding: 20px;
        font-size: 6vw;
        border-radius: 20px;   
    }

}